body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.container-fluid {
	margin: auto;
	max-width: 940px;
	min-width: 600px;
}

.input-xlarge {
	width: 100%;
}

.spacer {
	padding-bottom: 10px;
}

tr td {
	cursor: hand;
	cursor: pointer;
}

.btn-toolbar {
	margin-top: 0px;
	margin-bottom: 9px;
}

.table-row {
	height: 35px;	
}
	
h1 {
	margin-bottom: 55px;
}

.expanding {
	overflow: hidden;
}